.section-team {
  background-color: var(--secondary-body-colour);
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.team-list__card {
  display: block;
  background-color: var(--primary-body-color);
  align-items: center;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-portrait {
  width: 100%;
}

.employee-description {
  padding-top: 30px;
  padding-bottom: 24px;
}

.employee-description__name {
  @include font(500, 16px, 1.19, 0.03em);
  color: var(--text-color);
  margin-bottom: 10px;
}

.employee-description__position {
  @include font(400, 16px, 1.19, 0.03em);
  margin-bottom: 16px;
}

.employee-sociallink {
  @extend %align;
  gap: 10px;
  padding-left: 0;
}

.employee-link {
  @extend %align;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-link-logo);
  transition: background-color var(--transition-dur-and-func),
    fill var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-body-color);
  }
}

@media screen and (min-width: 480px) {
  .employee-portrait {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .employee-portrait {
    width: 354px;
    height: 374px;
  }

  .team-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .employee-portrait {
    width: 270px;
    height: 260px;
  }

  .employee-description {
    padding-bottom: 30px;
  }

  .team-list {
    flex-wrap: nowrap;
  }
  .team-list__card {
    &:not(:nth-child(1n)) {
      margin-right: 30px;
    }
  }
}
