.section-work {
  padding-top: 0;
}

.container-section-work {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.work-sample-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.work-sample-list__item {
  position: relative;
}

.work-sample-list__item > .work-sample-list__desc {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-body-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
