.page-header {
  @include font(500, 14px, 1.34, 0.02em);
  border: 1px solid var(--header-border-color);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--text-color);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts {
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--primary-text-color);
  transition: color var(--transition-dur-and-func);
}

.nav-link.link-current {
  color: var(--accent-color);

  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    display: block;

    position: absolute;
    bottom: -1px;
  }
}

.nav-element {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-link,
.header-contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-element:first-child {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  align-items: center;

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.header-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.main-nav,
.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

.site-nav {
  margin: 0;
}
