:root {
  --primary-body-color: #ffffff;
  --secondary-body-colour: #f5f4fa;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --footer-background-color: #2f303a;
  --text-color: #212121;
  --hero-button-active: #188ceb;
  --black: #000000;
  --border-portfolio-color: #eeeeee;
  --social-link-logo: #afb1b8;
  --header-border-color: #ececec;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
